{% include "base.html" %} {% block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
<div class="container">
    <div class="config-header">
        <h2>Configurações</h2>
        <h6>Aqui é onde você configura algumas dados do seu software.</h6>
    </div>
    <hr>
    <div class="config-planos">
        <div class="price-planos">
            <p>Ajustar preço do plano Flex</p>
            <input type="text" class="form-control bg-dark text-white" placeholder="R$ 0.00">
        </div>
        <div class="price-planos">
            <p>Ajustar preço do plano Essencial</p>
            <input type="text" class="form-control bg-dark text-white" placeholder="R$ 0.00">
        </div>
    </div>
</div>
{% endblock %}